[Desktop Entry]
Encoding=UTF-8
Name=jAlbum
GenericName=Image Gallery Generator
Comment=jAlbum web album software
Comment[pl]=jAlbum - program to tworzenia albumów WWW
Icon=jalbum
Exec=jalbum
Terminal=false
Type=Application
Categories=Graphics;
# vi: encoding=utf-8
